<%- include("partials/header"); -%>

<div class="container">
  <div class="page-data-container">
    <div class="page-name">
      <p><%= page_name %></p>
    </div>
    <div class="page-data">
      <p><%= page_data %></p>
    </div>
  </div>
</div>

 <%- include("partials/footer"); -%>
